# GitHub CODEOWNERS. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Remember, the last match takes precedence.

# Global owner, used as a last resort.
* @bepri

# Documentation owners
/docs/ @jahn-junior @medubelko @bepri

# Finally, all CODEOWNERS changes need to be approved by The Man, Himself.
/.github/CODEOWNERS @starcraft-maintainers
