# TODO migrate to PEP 518 once supported.
[flake8]
ignore =
    # let black handle this
    E501,
    # http://hexbyteinc.com/ambv-black/#line-breaks--binary-operators
    W503,
    # http://hexbyteinc.com/ambv-black/#slices
    E203
max-complexity = 10
exclude =
    # No need to traverse our git directory
    .git,
    .hg,
    .mypy_cache,
    .tox,
    .venv,
    .vscode,
    _build,
    buck-out,
    # There's no value in checking cache directories
    __pycache__,
    # This contains builds of flake8 that we don't want to check
    build,
    dist,
    # snapcraft generated
    parts,
    stage,
    prime
