build
Cargo.lock
.coverage**
demos/*/parts/
demos/*/prime/
demos/**/*.snap
demos/*/snap/.snapcraft/
demos/*/stage/
.direnv
dist
docs/**.html
docs/reference.md
*.egg-info
.eggs/
.envrc
htmlcov
.idea
.mypy_cache
/parts
pip-wheel-metadata/
prime
*.pyc
__pycache__
*.snap
snap/.snapcraft/
.spread-reuse.*
stage
*.swp
target
tests/unit/snap/
tests/unit/stage/
.vscode
venv
