docs/reference.md
demos/*/parts/
demos/*/prime/
demos/*/stage/
demos/**/*.snap
snap/.snapcraft/
tests/unit/parts/
tests/unit/snap/
tests/unit/stage/
build
dist
*.egg-info
.eggs/
*.pyc
.coverage**
htmlcov
__pycache__
docs/**.html
Cargo.lock
target
*.swp
*.snap
parts
stage
prime
.vscode
