# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.8"
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "" # Intentionally blank, despite the warning.
    hooks:
      - id: prettier
        files: ^(.\/?)*\.(yaml|yml|json|json5|css|md)$
        additional_dependencies:
          - prettier@3.6.0 # renovate: datasource=npm
