language: bash
dist: bionic

env:
  global:
    # SPREAD_GOOGLE_KEY
    - secure: "uWKJdJlHc8tg+98jGpcc/FvsssEbw2FARqtgO0smBp5x8JWCmAt5fAVPB8qRbbirdHS5Yjpk8SSSa3vWVizYeTIOV+Vo3w8/1oqymPnMEEMtcLkyGZP+fNMDgNnX+icOU/bmh8werhOn9+qiZfKmFuXgpjrXzYoWzrhn55EuDN68Yhe6gB1zznHihDtSKjwQrbZFlgNnTh13Wk9lY8y2XYsWZZVfQ25dP4PaQQv647nBhcWPvrB0N/vMmDS/twvUBcbbEjRg5yKtsqzuT2lEqdIpwosp3/gZjWAWK0FjjmnzRcSHbugtaxWHmghHDLHSpP4GF7bzYL01tklFWDSW9DDvVfZ3HgiN058LL1jsk+VjcMCgu7csUWUj2kib3/TjKQy32R1vALpgDOrLHutdVDXoED33qxcyAYLODNRwW9o+QQM2HoZD4PKVDcKW4WOvAKp7Z1NK+ag26WdA/bM7ZgAll40dY9yPtgg0fdMM9N1X9e4v2TJmjnSLXF8v0jXIwp3VL01c/RpsmD7ubTUp0ixSaiKK0cCvxdflsDSUGojckeA4OsGOf9X+anqxmJsiY7vW/TKULMgToKEYDIPB0EfJ0Tf8P/ve4veEZSnhFinrDk46jwSP2m4kpR2FHAMtjCwqWEXZWouIJOOclAk4IqUWGT88Iomdz/LFbQa2rdo="
    - LC_ALL: "C.UTF-8"
    - LANG: "C.UTF-8"
    - PATH: "/snap/bin:$PATH"
    - SPREAD_DEBUG_JOURNAL: "true"

jobs:
  include:
    # Tests, only when not triggered by the daily cron.
    - stage: static
      name: static tests
      addons:
        apt:
          packages:
            - libyaml-dev
            - python3-yaml
            - python3.6-dev
        snaps:
          - name: core
          - name: core18
          - name: shellcheck
          - name: black
            channel: beta
            confinement: devmode
      install:
        - curl https://bootstrap.pypa.io/get-pip.py -o /tmp/get-pip.py && python3 /tmp/get-pip.py --user
        - pip3 install --user -r requirements-devel.txt
      script:
        - ./runtests.sh static
    # CLA check, only in pull requests, not coming from the bot.
    - stage: static
      name:  CLA check
      addons:
        apt:
          packages:
            - git
            - python-launchpadlib
      if: type = pull_request AND sender != snappy-m-o
      git:
        depth: false
      script:
        - ./tools/cla_check.py

    - stage: unit, snap and osx
      name: unit tests
      script:
        - SNAPCRAFT_PACKAGE_TYPE=none ./runtests.sh spread "google:ubuntu-18.04-64:tests/spread/unit/coverage"
    - stage: unit, snap and osx
      name: osx
      os: osx
      addons:
        homebrew:
          packages:
            - coreutils
            - python
      install:
        - echo Temporarily disabled
        - echo python3 ./tools/brew_install_from_source.py
        - echo python3 -m pip install -r requirements.txt
        - echo python3 -m pip install -r requirements-devel.txt
      script:
        - echo SNAPCRAFT_PACKAGE_TYPE=brew ./runtests.sh tests.integration.store.test_store_login_logout use-run
    - stage: unit, snap and osx
      name: snap
      workspaces:
        create:
          name: snaps
          paths:
            - "snapcraft-pr$TRAVIS_PULL_REQUEST.snap"
      addons:
        snaps:
          - name: snapcraft
            channel: edge
            classic: true
          - name: transfer
          - name: http
        apt:
          packages:
            - libapt-pkg-dev
            - libffi-dev
            - libnacl-dev
            - libsodium-dev
            - libssl-dev
            - libxml2-dev
            - libxslt-dev
            - libyaml-dev
            - python3.6-dev
      script: snapcraft snap --destructive-mode --output "snapcraft-pr$TRAVIS_PULL_REQUEST.snap"
      after_success:
        - timeout 180 /snap/bin/transfer snapcraft-pr$TRAVIS_PULL_REQUEST.snap
      after_failure:
        - sudo journalctl -u snapd
        - /snap/bin/http https://api.snapcraft.io/v2/snaps/info/core architecture==amd64 Snap-Device-Series:16

    - stage: deploy
      name: Snap Store
      addons:
        snaps:
          - name: snapcraft
            channel: candidate
            classic: true
      workspaces:
        use: snaps
      if: (type = pull_request) AND (head_repo = "snapcore/snapcraft")
      script: ./tools/travis_deploy.sh
    - stage: integration
      name: spread
      workspaces:
        use: snaps
      if: repo = "snapcore/snapcraft" or env(SPREAD_GOOGLE_KEY) IS present
      script: ./runtests.sh spread "google:"
    - stage: integration
      name: store
      workspaces:
        use: snaps
      addons:
        apt:
          packages:
            - git
            - libapt-pkg-dev
            - libffi-dev
            - libnacl-dev
            - libsodium-dev
            - libssl-dev
            - libxml2-dev
            - libxslt-dev
            - libyaml-dev
            - python3-yaml
            - python3.6-dev
            - rpm2cpio
            - squashfs-tools
            - xdelta3
      install:
        - curl https://bootstrap.pypa.io/get-pip.py -o /tmp/get-pip.py && python3 /tmp/get-pip.py --user
        - pip3 install --user -r requirements-devel.txt -r requirements.txt codecov
        - ${SNAPCRAFT_INSTALL_COMMAND:-sudo snap install "snapcraft-pr$TRAVIS_PULL_REQUEST.snap" --dangerous --classic}
      before_script:
        - rm -rf snapcraft
      script:
        - SNAPCRAFT_PACKAGE_TYPE=snap ./runtests.sh tests/integration/store

    - stage: docker
      env:
        RISK: "stable"
      script:
        - cd docker
        - docker build --no-cache -f ${RISK}.Dockerfile --tag snapcore/snapcraft:${RISK} .
        - docker run snapcore/snapcraft:${RISK} snapcraft --version
    - env:
        RISK: "edge"
      script:
        - cd docker
        - docker build --no-cache -f ${RISK}.Dockerfile --tag snapcore/snapcraft:${RISK} .
        - docker run snapcore/snapcraft:${RISK} snapcraft --version
    - env:
        RISK: "beta"
      script:
        - cd docker
        - docker build --no-cache -f ${RISK}.Dockerfile --tag snapcore/snapcraft:${RISK} .
        - docker run snapcore/snapcraft:${RISK} snapcraft --version
    - env:
        RISK: "candidate"
      script:
        - cd docker
        - docker build --no-cache -f ${RISK}.Dockerfile --tag snapcore/snapcraft:${RISK} .
        - docker run snapcore/snapcraft:${RISK} snapcraft --version
