sudo: required
dist: trusty

services: [docker]

language: bash

jobs:
  include:
    # Tests, only when not triggered by the daily cron.
    - stage: static
      if: type != cron
      script: sudo ./tools/travis/run_tests.sh static
    - stage: unit
      if: type != cron
      script: sudo ./tools/travis/run_tests.sh unit
    - if: type != cron
      script: SNAPCRAFT_TEST_MOCK_MACHINE=armv7l sudo ./tools/travis/run_tests.sh unit
    - stage: integration
      if: type != cron
      script: sudo ./tools/travis/run_tests.sh integration
    - if: type != cron
      script: sudo ./tools/travis/run_tests.sh plugins
    - if: type != cron
      script: sudo ./tools/travis/run_tests.sh store
    - if: type != cron
      script: sudo ./tools/travis/run_tests.sh snapd
    # CLA check, only in pull requests, not comming from the bot.
    - if: type = pull_request AND sender != snappy-m-o
      script: ./tools/travis/run_cla_check.sh
    - stage: snap
      if: type != cron
      script: sudo ./tools/travis/build_snapcraft_snap.sh
    # Trigger edge tests, only in the daily cron.
    - stage: edge
      if: type = cron
      script: ./runtests.sh spread
    # Trigger beta tests, only in the daily cron.
    - stage: beta
      if: type = cron
      script: ./tools/travis/make_beta_pr.sh
