language: bash
dist: xenial

env:
  global:
    # SPREAD_GOOGLE_KEY
    - secure: "uWKJdJlHc8tg+98jGpcc/FvsssEbw2FARqtgO0smBp5x8JWCmAt5fAVPB8qRbbirdHS5Yjpk8SSSa3vWVizYeTIOV+Vo3w8/1oqymPnMEEMtcLkyGZP+fNMDgNnX+icOU/bmh8werhOn9+qiZfKmFuXgpjrXzYoWzrhn55EuDN68Yhe6gB1zznHihDtSKjwQrbZFlgNnTh13Wk9lY8y2XYsWZZVfQ25dP4PaQQv647nBhcWPvrB0N/vMmDS/twvUBcbbEjRg5yKtsqzuT2lEqdIpwosp3/gZjWAWK0FjjmnzRcSHbugtaxWHmghHDLHSpP4GF7bzYL01tklFWDSW9DDvVfZ3HgiN058LL1jsk+VjcMCgu7csUWUj2kib3/TjKQy32R1vALpgDOrLHutdVDXoED33qxcyAYLODNRwW9o+QQM2HoZD4PKVDcKW4WOvAKp7Z1NK+ag26WdA/bM7ZgAll40dY9yPtgg0fdMM9N1X9e4v2TJmjnSLXF8v0jXIwp3VL01c/RpsmD7ubTUp0ixSaiKK0cCvxdflsDSUGojckeA4OsGOf9X+anqxmJsiY7vW/TKULMgToKEYDIPB0EfJ0Tf8P/ve4veEZSnhFinrDk46jwSP2m4kpR2FHAMtjCwqWEXZWouIJOOclAk4IqUWGT88Iomdz/LFbQa2rdo="
    - LC_ALL: "C.UTF-8"
    - LANG: "C.UTF-8"
    - PATH: "/snap/bin:$PATH"

cache:
  directories:
    - $TRAVIS_BUILD_DIR/snaps-cache

jobs:
  include:
    # Tests, only when not triggered by the daily cron.
    - stage: static
      name: static tests
      addons:
        apt:
          packages:
            - libyaml-dev
            - python3-yaml
            - python3.5-dev
        snaps:
          - name: core
          - name: core18
          - name: shellcheck
            channel: edge
      install:
        - sudo snap install black --devmode --edge
        - sudo update-alternatives --install /usr/bin/python3 python3.5 /usr/bin/python3.5 0
        - curl https://bootstrap.pypa.io/get-pip.py -o /tmp/get-pip.py && python3 /tmp/get-pip.py --user
        - pip3 install --user -r requirements-devel.txt
      script:
        - ./runtests.sh static
    # CLA check, only in pull requests, not coming from the bot.
    - stage: static
      name:  CLA check
      if: type = pull_request AND sender != snappy-m-o
      install:
        - sudo apt update && sudo apt install -y git python-launchpadlib
      git:
        depth: false
      script:
        - ./tools/cla_check.py

    - stage: unit, snap and osx
      name: unit tests
      addons:
        apt:
          packages:
            - bzr
            - git
            - libapt-pkg-dev
            - libffi-dev
            - libnacl-dev
            - libsodium-dev
            - libssl-dev
            - libxml2-dev
            - libxslt-dev
            - libyaml-dev
            - mercurial
            - p7zip-full
            - python3-yaml
            - python3.5-dev
            - rpm2cpio
            - squashfs-tools
            - subversion
            - xdelta3
      install:
        - curl https://bootstrap.pypa.io/get-pip.py -o /tmp/get-pip.py && python3 /tmp/get-pip.py --user
        - pip3 install --user -r requirements-devel.txt -r requirements.txt codecov
      script:
        - ./runtests.sh tests/unit
      after_success:
        - coverage xml
        - codecov --token="$CODECOV_TOKEN"
    - stage: unit, snap and osx
      name: osx
      os: osx
      addons:
        homebrew:
          packages:
            - coreutils
            - python
      install:
        - echo Temporarily disabled
        - echo python3 ./tools/brew_install_from_source.py
        - echo python3 -m pip install -r requirements.txt
        - echo python3 -m pip install -r requirements-devel.txt
      script:
        - echo SNAPCRAFT_PACKAGE_TYPE=brew ./runtests.sh tests.integration.store.test_store_login_logout use-run
    - stage: unit, snap and osx
      name: snap
      addons:
        snaps:
          - name: snapcraft
            channel: edge
            classic: true
          - name: transfer
          - name: http
          - name: lxd
      before_script:
        - sudo apt autoremove --purge lxd lxd-client
        - sudo lxd waitready
        - sudo lxd init --auto
      script:
        - sudo snapcraft snap --use-lxd
        - sudo cp *.snap "snapcraft-pr$TRAVIS_PULL_REQUEST.snap"
        - sudo cp "snapcraft-pr$TRAVIS_PULL_REQUEST.snap" "$TRAVIS_BUILD_DIR/snaps-cache/snapcraft-pr$TRAVIS_PULL_REQUEST.snap"
      after_success:
        - timeout 180 /snap/bin/transfer snapcraft-pr$TRAVIS_PULL_REQUEST.snap
      after_failure:
        - sudo journalctl -u snapd
        - /snap/bin/http https://api.snapcraft.io/v2/snaps/info/core architecture==amd64 Snap-Device-Series:16

    - stage: integration
      name: spread
      if: repo = "snapcore/snapcraft" or env(SPREAD_GOOGLE_KEY) IS present
      script:
        - cp "$TRAVIS_BUILD_DIR/snaps-cache/snapcraft-pr$TRAVIS_PULL_REQUEST.snap" .
        - ./runtests.sh spread
    - stage: integration
      name: store
      script: 
        - sudo ./tools/travis/run_integration_test.sh tests/integration/store
