language: bash

services: [docker]

env:
  global:
    # SPREAD_GOOGLE_KEY
    - secure: "uWKJdJlHc8tg+98jGpcc/FvsssEbw2FARqtgO0smBp5x8JWCmAt5fAVPB8qRbbirdHS5Yjpk8SSSa3vWVizYeTIOV+Vo3w8/1oqymPnMEEMtcLkyGZP+fNMDgNnX+icOU/bmh8werhOn9+qiZfKmFuXgpjrXzYoWzrhn55EuDN68Yhe6gB1zznHihDtSKjwQrbZFlgNnTh13Wk9lY8y2XYsWZZVfQ25dP4PaQQv647nBhcWPvrB0N/vMmDS/twvUBcbbEjRg5yKtsqzuT2lEqdIpwosp3/gZjWAWK0FjjmnzRcSHbugtaxWHmghHDLHSpP4GF7bzYL01tklFWDSW9DDvVfZ3HgiN058LL1jsk+VjcMCgu7csUWUj2kib3/TjKQy32R1vALpgDOrLHutdVDXoED33qxcyAYLODNRwW9o+QQM2HoZD4PKVDcKW4WOvAKp7Z1NK+ag26WdA/bM7ZgAll40dY9yPtgg0fdMM9N1X9e4v2TJmjnSLXF8v0jXIwp3VL01c/RpsmD7ubTUp0ixSaiKK0cCvxdflsDSUGojckeA4OsGOf9X+anqxmJsiY7vW/TKULMgToKEYDIPB0EfJ0Tf8P/ve4veEZSnhFinrDk46jwSP2m4kpR2FHAMtjCwqWEXZWouIJOOclAk4IqUWGT88Iomdz/LFbQa2rdo="

matrix:
  include:
    - os: osx
    - os: linux
      sudo: required
      dist: trusty

cache:
  directories:
    - $TRAVIS_BUILD_DIR/snaps-cache
    - $HOME/.pyenv

jobs:
  include:
    - stage: prepare
      if: type != cron
      script:
        - sudo apt install libssl-dev
        - export PATH=$HOME/.pyenv/bin:$PATH
        - pyenv install 3.5.6

    # Tests, only when not triggered by the daily cron.
    - stage: static
      if: type != cron
      script:
        - export PATH=$HOME/.pyenv/bin:$PATH
        - pyenv init - >> $HOME/.bashrc
        - source $HOME/.bashrc
        - pyenv global 3.5.6
        - ./tools/travis/run_tests.sh static

    - stage: unit
      if: type != cron
      script:
        - export PATH=$HOME/.pyenv/bin:$PATH
        - pyenv init - >> $HOME/.bashrc
        - source $HOME/.bashrc
        - pyenv global 3.5.6
        - ./tools/travis/run_tests.sh tests/unit
    - if: type != cron
      script: SNAPCRAFT_TEST_MOCK_MACHINE=armv7l sudo ./tools/travis/run_tests.sh tests/unit
    - if: type != cron
      script: SNAPCRAFT_TEST_MOCK_MACHINE=aarch64 sudo ./tools/travis/run_tests.sh tests/unit
    - stage: osx-integration-store
      if: type != cron
      os: osx
      script: SNAPCRAFT_FROM_BREW=1 ./tools/travis/run_tests.sh tests.integration.store.test_store_login_logout use-run
    - stage: snap
      if: type != cron
      script: sudo ./tools/travis/build_snapcraft_snap.sh

    - stage: integration
      if: type != cron
      script: sudo ./tools/travis/run_tests.sh tests/integration/general
    - if: type != cron
      script: LXD_IMAGE="ubuntu:bionic" sudo ./tools/travis/run_tests.sh tests/integration/general
    - if: type != cron
      script: sudo ./tools/travis/run_tests.sh tests/integration/lifecycle
    - if: type != cron
      script: sudo ./tools/travis/run_tests.sh tests/integration/sources
    - if: type != cron
      script:
      - "travis_wait 30 sleep 1800 &"
      - sudo ./tools/travis/run_tests.sh tests/integration/plugins
    - if: type != cron
      script:
      - "travis_wait 30 sleep 1800 &"
      - sudo ./tools/travis/run_tests.sh tests.integration.plugins_nodejs
    - if: type != cron
      script:
      - "travis_wait 30 sleep 1800 &"
      - sudo ./tools/travis/run_tests.sh tests.integration.plugins_java
    - if: type != cron
      script: sudo ./tools/travis/run_tests.sh tests.integration.plugins_python
    - if: type != cron
      script: LXD_IMAGE="ubuntu-daily:bionic" sudo ./tools/travis/run_tests.sh tests.integration.plugins_python
    - if: type != cron
      script: sudo ./tools/travis/run_tests.sh tests/integration/store
    - if: type != cron
      script:
      - "travis_wait 20 sleep 1200 &"
      - sudo ./tools/travis/run_tests.sh tests/integration/snapd
    # CLA check, only in pull requests, not coming from the bot.
    - if: type = pull_request AND sender != snappy-m-o
      script: ./tools/travis/run_cla_check.sh

    - stage: spread
      if: type != cron
      script: ./tools/travis/run_tests.sh spread

    # Trigger nightly tests, only in cron.
    - stage: nightly
    # Run spread tests for the snapcraft snap in edge.
      if: type = cron
      script: ./runtests.sh old-spread
