image: Visual Studio 2019
environment:
  INNOCC: C:\Program Files (x86)\Inno Setup 6\iscc.exe
  MAKEAPPX: C:\Program Files (x86)\Windows Kits\10\bin\10.0.18362.0\x64\makeappx.exe
  SIGNTOOL: C:\Program Files (x86)\Windows Kits\10\bin\10.0.18362.0\x64\signtool.exe
  SNAPCRAFT_INSTALLED_EXE: C:\Program Files (x86)\Snapcraft for Windows\snapcraft.exe
  TIMESTAMP_SERVICE: http://timestamp.digicert.com

  matrix:
  - PYTHON: C:\Python37-x64

cache:
- '%LOCALAPPDATA%\pip\Cache\http'
- '%LOCALAPPDATA%\pip\Cache\wheels'
build: off

install:
- cmd: |
    %PYTHON%\python.exe -m venv venv
    venv\Scripts\activate.bat
    python -c "import sys; print(sys.executable)"
    python -m pip install -r requirements-devel.txt
    python -m pip install --prefix %VIRTUAL_ENV% -e .
    venv\Scripts\deactivate.bat

build_script:
- cmd: |
    echo "Building snapcraft.exe..."
    venv\Scripts\activate.bat
    pyinstaller.exe --onefile snapcraft.spec
    venv\Scripts\deactivate.bat

    echo "Test signing snapcraft.exe..."
    powershell.exe windows\generate-self-signed-cert.ps1
    "%SIGNTOOL%" sign /fd SHA256 /td SHA256 /tr "%TIMESTAMP_SERVICE%" /f test-signing.pfx /p Password1234 dist\snapcraft.exe

    echo "Building snapcraft inno installer..."
    "%INNOCC%" windows\snapcraft.iss

    echo "Test signing snapcraft inno installer..."
    "%SIGNTOOL%" sign /fd SHA256 /td SHA256 /tr "%TIMESTAMP_SERVICE%" /f test-signing.pfx /p Password1234 dist\snapcraft-installer.exe

    echo "Building snapcraft msix installer..."
    mkdir dist\msix
    copy dist\snapcraft.exe dist\msix\
    copy windows\snapcraft.png dist\msix\
    copy windows\AppxManifest.xml dist\msix\
    "%MAKEAPPX%" pack /h SHA256 /d dist\msix /p dist\snapcraft-installer.msix

    echo "Test signing snapcraft msix installer..."
    "%SIGNTOOL%" sign /fd SHA256 /td SHA256 /tr "%TIMESTAMP_SERVICE%" /f test-signing.pfx /p Password1234 dist\snapcraft-installer.msix

test_script:
- cmd: |
    echo "Smoke testing snapcraft.exe..."
    dist\snapcraft.exe logout
    dist\snapcraft.exe version
    mkdir test
    cd test
    ..\dist\snapcraft.exe init
    cd ..

    echo "Smoke testing snapcraft-installer.exe..."
    start /wait "SNAPCRAFT INSTALLER" dist\snapcraft-installer.exe /VERYSILENT /ALLUSERS
    "%SNAPCRAFT_INSTALLED_EXE%" version

#artifacts:
#- path: dist\snapcraft.exe
#- path: dist\snapcraft-installer.exe
#- path: dist\snapcraft-installer.msix
