[tool.black]
exclude = '''
/(
    \.git
  | \.direnv
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.vscode
  | _build
  | buck-out
  | __pycache__
  | build
  | dist

  # specific to snapcraft
  | parts
  | stage
  | prime
)/
'''

[tool.isort]
# black-compatible isort configuration
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88

[tool.pylint.messages_control]
# duplicate-code can't be disabled locally: https://github.com/PyCQA/pylint/issues/214
disable = "too-few-public-methods,fixme,use-implicit-booleaness-not-comparison,duplicate-code"

[tool.pylint.format]
max-attributes = 15
good-names = "id"

[tool.pylint.MASTER]
extension-pkg-allow-list = [
    "pydantic",
    "pytest",
]
load-plugins = "pylint_fixme_info,pylint_pytest"

[tool.pylint.SIMILARITIES]
min-similarity-lines=10
