astroid==2.15.8
attrs==23.2.0
black==24.3.0
cachetools==5.3.3
catkin-pkg==1.0.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
codespell==2.2.6
colorama==0.4.6
coverage==7.4.4
craft-application==2.7.0
craft-archives==1.1.3
craft-cli==2.5.1
craft-grammar==1.2.0
craft-parts==1.30.0
craft-providers==1.23.1
craft-store==2.6.2
cryptography==42.0.5
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
distro==1.9.0
docutils==0.19
filelock==3.13.3
fixtures==4.1.0
gnupg==2.3.1
httplib2==0.22.0
hupper==1.12.1
idna==3.7
importlib-metadata==7.0.1
iniconfig==2.0.0
isort==5.13.2
jaraco.classes==3.3.1
jeepney==0.8.0
jsonschema==2.5.1
keyring==24.3.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lazy-object-proxy==1.10.0
lxml==5.0.0
macaroonbakery==1.3.4
mccabe==0.7.0
more-itertools==10.1.0
mypy==1.8.0
mypy-extensions==1.0.0
oauthlib==3.2.2
overrides==7.4.0
packaging==23.2
PasteDeploy==3.1.0
pathspec==0.12.1
pbr==6.0.0
pexpect==4.9.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.1.0
pluggy==1.3.0
progressbar==2.5
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==1.10.14
pydantic-yaml==0.11.2
pydocstyle==6.3.0
pyelftools==0.30
pyflakes==3.1.0
pyftpdlib==1.5.9
pygit2==1.13.3
pylint==2.17.7
pylint-fixme-info==1.0.3
pylint-pytest==1.1.7
pylxd==2.3.2
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.1.2
pyproject-api==1.6.1
pyramid==2.0.2
pyRFC3339==1.1
pyright==1.1.356
pytest==7.4.4
pytest-cov==5.0.0
pytest-mock==3.14.0
pytest-subprocess==1.5.0
python-dateutil==2.8.2
python-debian==0.1.49
pytz==2023.3.post1
pyxdg==0.28
PyYAML==6.0.1
raven==6.10.0
requests==2.31.0
requests-toolbelt==1.0.0
requests-unixsocket==0.3.0
SecretStorage==3.3.3
simplejson==3.19.2
six==1.16.0
snap-helpers==0.4.2
snowballstemmer==2.2.0
tabulate==0.9.0
testscenarios==0.5.0
testtools==2.7.1
tinydb==4.8.0
toml==0.10.2
tomlkit==0.12.4
tox==4.11.4
translationstring==1.4
types-Deprecated==1.2.9.20240311
types-PyYAML==6.0.12.20240311
types-requests==2.31.0.6
types-setuptools==69.2.0.20240317
types-simplejson==3.19.0.20240310
types-tabulate==0.9.0.20240106
types-toml==0.10.8.20240310
types-urllib3==1.26.25.14
typing_extensions==4.9.0
urllib3==1.26.18
venusian==3.1.0
virtualenv==20.25.1
wadllib==1.3.6
WebOb==1.8.7
wrapt==1.16.0
ws4py==0.5.1
yamllint==1.33.0
zipp==3.17.0
zope.deprecation==5.0
zope.interface==6.1
python-apt @ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-apt/2.4.0ubuntu1/python-apt_2.4.0ubuntu1.tar.xz; sys.platform == "linux"
pyinstaller==5.13.2; sys.platform == "win32"
