# Update this by finding the latest version of the tarball at https://launchpad.net/ubuntu/noble/+source/python-apt
python-apt @ https://launchpad.net/ubuntu/+archive/primary/+sourcefiles/python-apt/2.7.7ubuntu4/python-apt_2.7.7ubuntu4.tar.xz
