attrs==21.2.0
catkin-pkg==0.4.23
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
codespell==2.0.0
coverage==5.5
cryptography==3.4
distro==1.5.0
docutils==0.17.1
entrypoints==0.3
extras==1.0.0
fixtures==3.0.0
flake8==3.7.9
gnupg==2.3.1
httplib2==0.19.1
hupper==1.10.2
idna==2.10
importlib-metadata==4.0.1
iniconfig==1.1.1
isort==5.8.0
jeepney==0.6.0
jsonschema==3.2.0
keyring==23.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.3
lazr.uri==1.0.5
linecache2==1.0.0
lxml==4.6.3
macaroonbakery==1.3.1
mccabe==0.6.1
mypy==0.770
mypy-extensions==0.4.3
oauthlib==3.1.0
packaging==20.9
PasteDeploy==2.1.1
pbr==5.6.0
pexpect==4.8.0
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
progressbar==2.5
protobuf==3.16.0
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.5.0
pycparser==2.20
pyelftools==0.27
pyflakes==2.1.1
pyftpdlib==1.5.6
pylxd==2.3.0
pymacaroons==0.13.0
pyparsing==2.4.7
pyramid==2.0
pyRFC3339==1.1
pyrsistent==0.17.3
pysha3==1.0.2
pytest==6.2.4
pytest-cov==2.11.1
pytest-subprocess==1.1.0
python-dateutil==2.8.1
python-debian==0.1.39
python-mimeparse==1.6.0
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
raven==6.10.0
requests==2.25.1
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
SecretStorage==3.3.1
semantic-version==2.8.5
simplejson==3.17.2
six==1.16.0
tabulate==0.8.9
testresources==2.0.1
testscenarios==0.5.0
testtools==2.4.0
tinydb==4.4.0
toml==0.10.2
traceback2==1.4.0
translationstring==1.4
typed-ast==1.4.3
typing-extensions==3.10.0.0
unittest2==1.1.0
urllib3==1.26.4
venusian==3.0.0
wadllib==1.3.5
WebOb==1.8.7
ws4py==0.5.1
zipp==3.4.1
zope.deprecation==4.4.0
zope.interface==5.4.0
python-apt @ http://archive.ubuntu.com/ubuntu/pool/main/p/python-apt/python-apt_1.6.5ubuntu0.5.tar.xz; sys.platform == "linux"
python-distutils-extra @ https://launchpad.net/python-distutils-extra/trunk/2.39/+download/python-distutils-extra-2.39.tar.gz; sys_platform == "linux"
PyNaCl==1.4.0; sys.platform != "linux"
PyNaCl @ https://files.pythonhosted.org/packages/61/ab/2ac6dea8489fa713e2b4c6c5b549cc962dd4a842b5998d9e80cf8440b7cd/PyNaCl-1.3.0.tar.gz; sys.platform == "linux"
setuptools==49.6.0
