Test-Command: ./runtests.sh
Restrictions: allow-stderr, isolation-container
Depends: @,
         pep8,
         plainbox,
         pyflakes,
         python3-fixtures,
         python3-mccabe,
         python3-testscenarios
