Tests: integrationtests-general,
       integrationtests-lifecycle,
       integrationtests-sources,
       integrationtests-store,
       integrationtests-plugins,
       integrationtests-plugins-python,
       integrationtests-plugins-nodejs,
       integrationtests-plugins-java,
       integrationtests-plugins-catkin,
       integrationtests-snapd,
       integrationtests-snapd-slow
Restrictions: needs-root, allow-stderr, isolation-container, rw-build-tree
Depends: @,
         bzr,
         git,
         curl,
         mercurial,
         subversion,
         lxd,
         snapd (>= 2.15~),
         squashfuse,
         python3-pep8,
         pyflakes,
         python-flake8,
         python3-fixtures,
         python3-pexpect,
         python3-pyftpdlib,
         python3-pyramid,
         python3-testscenarios

Tests: snapstests
Restrictions: needs-root, allow-stderr, isolation-container, rw-build-tree
Depends: @,
         git,
         curl,
         python3-fixtures,
         python3-pexpect,
         python3-requests-unixsocket,
         python3-testscenarios,
         snapd (>= 2.15~),
         squashfuse,
