Source: snapcraft
Section: utils
Priority: extra
Maintainer: Snapcraft Team <snapcraft@lists.snapcraft.io>
Build-Depends: debhelper
Homepage: https://github.com/snapcore/snapcraft
Vcs-Git: https://github.com/snapcore/snapcraft.git
Vcs-Browser: https://github.com/snapcore/snapcraft
Standards-Version: 4.1.3

Package: snapcraft
Architecture: all
Depends: ${misc:Depends}
Suggests: lxd, snapd (>= 2.15~)
Description: easily craft snaps
 Snapcraft aims to make upstream developers' lives easier and as such is not
 a single toolset, but instead is a collection of tools that enable the
 natural workflow of an upstream to be extended with a simple release
 process.
