project: {{ name }}

backends:
  craft:
    type: craft
    systems:
      - ubuntu-24.04:
      #- ubuntu-22.04:
      #- ubuntu-20.04:
      #- fedora-40:


suites:
  spread/general/:
    summary: General integration tests
    prepare: |
      snap install "$CRAFT_ARTIFACT" --dangerous
    restore: |
      snap remove {{ name }} --purge

exclude:
  - .git

kill-timeout: 1h
