# Ubuntu kernel snapcraft pull sources script
# Rendered by snapcraft ubuntu-kernel plugin.
# ----
env

{% if ubuntu_kernel_use_binary_package %}

    {% if is_cross_compiling %}
        echo \
            "deb [arch={{ target_arch }}] http://ports.ubuntu.com/ubuntu-ports \
        {{ ubuntu_kernel_release_name }} main restricted universe multiverse" >> /etc/apt/sources.list.d/{{ ubuntu_kernel_release_name }}_ports.list
    {% endif %}

    apt-get update

    KERNEL_ABI=$(apt show linux-image-{{ ubuntu_kernel_flavour }}:{{ target_arch }}/{{ ubuntu_kernel_release_name }} |
        grep Version |
        sed 's/Version: \(.*\)$/\1/g' |
        cut -d. -f1-4 |
        sed 's/\([0-9]\+\.[0-9]\+\.[0-9]\+\).\([0-9]\+\).*$/\1-\2/g'
    )

    echo "Kernel ABI: ${KERNEL_ABI}"
    apt download linux-image-"${KERNEL_ABI}"-{{ ubuntu_kernel_flavour }}:{{ target_arch }}
    apt download linux-modules-"${KERNEL_ABI}"-{{ ubuntu_kernel_flavour }}:{{ target_arch }}
    apt download linux-modules-extra-"${KERNEL_ABI}"-{{ ubuntu_kernel_flavour }}:{{ target_arch }}
    apt download linux-firmware

{% else %}
    git clone --depth=1 --branch=master-next {{ source_repo_url }} .
{%  endif %}
