alabaster==0.7.16
Babel==2.11.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==2.1.1
colorama==0.4.6
docutils==0.19
furo==2022.12.7
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
livereload==2.6.3
MarkupSafe==2.1.5
packaging==23.2
pyenchant==3.2.2
Pygments==2.15.0
pyparsing==3.0.9
pytz==2022.6
requests==2.32.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-basic-ng==1.0.0b2
sphinx_design==0.5.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.8
sphinxcontrib-serializinghtml==1.1.10
tornado==6.4.2
urllib3==1.26.20
