name: Large Manual Spread
on:
  schedule:
    # At 03:00 on Wednesday and Sunday.
    - cron: "0 3 * * WED,SUN"

  workflow_dispatch:

jobs:
  snap-build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build snap
        uses: snapcore/action-build@v1
        id: snapcraft
      - name: Upload snap artifact
        uses: actions/upload-artifact@v3
        with:
          name: snap
          path: ${{ steps.snapcraft.outputs.snap }}

  kernel-plugins:
    runs-on: self-hosted
    needs: [snap-build]
    strategy:
      fail-fast: false
      matrix:
        type: [craft-parts, v2]

    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v3
        with:
          name: snap
      - name: Kernel plugin test
        run: |
          spread google:ubuntu-22.04-64:tests/spread/plugin/${{ matrix.type }}/kernel
