name: Spread (manual - large/flaky)
on:
  pull_request:
    types: [labeled]
  schedule:
    # At 03:00 on Wednesday and Sunday.
    - cron: "0 3 * * WED,SUN"
  workflow_dispatch:

jobs:
  snap-build:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      # speed up build times by using wheels, when available
      - name: Use wheels
        run: |
          yq eval 'del(.parts.snapcraft.build-environment[] | select(.PIP_NO_BINARY == ":all:"))' -i snap/snapcraft.yaml
      - name: Build snap
        uses: canonical/action-build@v1
        id: snapcraft
      - name: Upload snap artifact
        uses: actions/upload-artifact@v4
        with:
          name: snap
          path: ${{ steps.snapcraft.outputs.snap }}
      - name: Verify snapcraft snap
        run: |
          sudo snap install --dangerous --classic ${{ steps.snapcraft.outputs.snap }}

  kernel-plugins:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: [spread-installed]
    needs: [snap-build]
    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v5
        with:
          name: snap
          path: tests
      - name: Kernel plugin test
        run: |
          spread google:ubuntu-20.04-64:tests/spread/plugins/v2/kernel \
            google:ubuntu-22.04-64:tests/spread/plugins/craft-parts/kernel \
            google:ubuntu-22.04-64:tests/spread/plugins/craft-parts/kernel-cross

  remote-build:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: [spread-installed]
    needs: [snap-build]
    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v5
        with:
          name: snap
          path: tests
      - name: remote-build test
        env:
          LAUNCHPAD_TOKEN: "${{ secrets.LAUNCHPAD_TOKEN }}"
        run: |
          spread google:ubuntu-20.04-64:tests/spread/core20/remote-build-legacy \
            google:ubuntu-22.04-64:tests/spread/core22/remote-build-legacy \
            google:ubuntu-22.04-64:tests/spread/core22/remote-build \
            google:ubuntu-24.04-64:tests/spread/core24/remote-build \
            google:fedora-39-64:tests/spread/core24/remote-build:no_platforms

  matter-sdk:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: [spread-installed]
    needs: [snap-build]
    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v5
        with:
          name: snap
          path: tests
      - name: matter-sdk test
        run: |
          spread \
              google:ubuntu-22.04-64:tests/spread/plugins/craft-parts/matter-sdk \
              google:ubuntu-22.04-64:tests/spread/core24-suites/plugins/matter-sdk

  colcon-plugins:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: [spread-installed]
    needs: [snap-build]
    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v5
        with:
          name: snap
          path: tests
      - name: colcon plugin test
        run: |
          spread google:ubuntu-22.04-64:tests/spread/core24-suites/plugins/colcon-hello \
            google:ubuntu-22.04-64:tests/spread/core24-suites/plugins/colcon-msg-package \
            google:ubuntu-22.04-64:tests/spread/core24-suites/plugins/colcon-packages-ignore \
            google:ubuntu-22.04-64:tests/spread/core24-suites/plugins/colcon-talker-listener \
            google:ubuntu-22.04-64:tests/spread/plugins/craft-parts/colcon-hello

  extensions:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: [spread-installed]
    needs: [snap-build]
    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v5
        with:
          name: snap
          path: tests
      - name: extensions test
        run: |
          spread google.*:tests/spread/extensions/

  core20-plugins:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: [spread-installed]
    needs: [snap-build]
    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v5
        with:
          name: snap
          path: tests
      - name: core20 plugins test
        run: |
          spread google:ubuntu-20.04-64:tests/spread/plugins/v2/

  snapd-bases:
    if: "${{ github.event.label.name == 'PR: Run Manual Spread' || github.event_name == 'schedule' }}"
    runs-on: [spread-installed]
    needs: [snap-build]
    steps:
      - name: Cleanup job workspace
        run: |
          rm -rf "${{ github.workspace }}"
          mkdir "${{ github.workspace }}"
      - name: Checkout snapcraft
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: true
      - name: Download snap artifact
        uses: actions/download-artifact@v5
        with:
          name: snap
          path: tests
      - name: Spread test
        run: |
          spread google:ubuntu-20.04-64:tests/spread/snaps/bases google:ubuntu-20.04-64:tests/spread/snaps/snapd
